.not-only {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.not-only__wrapper {
  padding-top: 60px;
  background-image: url('/img/noise_transparent.png');
  background-repeat: repeat;
}

.not-only__content {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.not-only__content__wrapper {
  width: 460px;
  align-self: center;
  min-height: 400px;
}

.not-only__header {
  width: 320px;
  color: $color-light-xl;
  margin-bottom: 42px;
}

.not-only__text {
  color: $color-dark-s;
  margin-bottom: 42px;
}

// not-only__btn
