.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $color-light-l;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.our-friends__header {
  width: 400px;
  color: $color-dark-l;
  text-align: center;
}

.our-friends__swiper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.our-friends__btn-rotate {
  transform: rotate(180deg);
}
