html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.h2 {
  font-family: $sec-font;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.h3 {
  font-family: $sec-font;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.h4 {
  font-family: $sec-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.h5 {
  font-family: $sec-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.p-l {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.p-s {
  font-family: $main-font;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
