/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1280px;

// Цвета
$black: #000;
$white: #fff;
$grey: #ccc;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-3xl: #292929;

// Шрифты
$main-font: "Arial", sans-serif;
$sec-font: "Georgia";


$transition: 0.3s ease;
